body{
    margin: 0;
}
.main{
   
    background-color: rgb(243, 239, 239);
}
.container1{
   
    background-image:  url("../CollegeManagementSystem/Images/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.container1>.one{
   
    display: flex;
}
.container1>.one>.logo{
  
    width: 50%;
    display: flex;
   
}
.container1>.one>.logo>.img1{
    height: 100px;
    width: 100px;
}
.container1>.one>.logo>.p1{
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;
}
.container1>.one>.menu{
   
    width: 50%;
    display: flex;
    
    align-items: center;
}
.container1>.one>.menu>.a{
    display: flex;
    width: 20%;
}
.container1>.one>.menu>.a>a{
    text-decoration: none;
    color: white; 
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.container1>.one>.menu>.a>a:hover{
    border-bottom:3px solid red;  
}
.container1>.two{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 25px;
}
.container2{
    margin: 100px;
    text-align: center;
}
.container2>.one>h1{
    font-size: 40px;
}
.container2>.two{
   
    margin:0px 140px 0px 140px;
    display: flex;
}
.container2>.two>.a{
    
    background-color: #fff3f3;
    border-radius: 10px;
    padding: 25px;
    width:30%;
    margin-right: 25px;
}
.container2>.two>.aa{
    margin-right: 0px;
}
.container6{
   
    background-color: rgb(88, 86, 86);
    display: flex;
}
.container6>.p1{
    color: white;
    font-size: 20px;
}
.container6>a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-style: italic;
    margin-left: 300px;
}

.container6>.p3{
    color: white;
    font-size: 20px;
    margin-left: 200px;
}

@media screen and (max-width:600px){
    .container1>.one{
        flex-direction: column;
      
    }
    .container1>.one>.logo,.container1>.one>.menu{
        width: 100%;
        justify-content: center;
    }
    .container1>.one>.menu{
        flex-direction: column;
       
    }
    .container1>.one>.menu>.a{
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
    .container1>.two{
        text-align: center; 
    }
    .container2{
        margin: 0px;
    }
    .container2>.two{
        flex-direction: column;
        margin: 0px;
        align-items: center;
    }
    .container2>.two>.a{
        width: 50%;
        margin: 10px 10px;
    }
}